<template>
  <div class="container">
    <div class="col align-self-center">
    <div class="row">
      
      <div class="col-md-auto">
      <h4>Sort By </h4>
    </div>

    <div class="col-md-auto">
    <select v-model="get" class="form-control" >
      <option disabled value="">Please select</option>
      <option value="getid/" >ID</option>
      <option value="getfirstname/">First name</option>
      <option value="getlastname/">Last name</option>
      <option value="getemail/">Email</option>
      <option value="getgender/">Gender</option>
      <option value="getage/">Age</option>
    </select>
    </div>
    <div class="col-md-auto">
    <div v-if="get === 'getid/'">
      <input class="form-control" v-model="results" type="text" name="" value="" v-on:change="onChange" >
    </div>
    <div v-else-if="get === 'getfirstname/'">
      <input class="form-control" v-model="results" type="text" name="" value="" v-on:change="onChange">
    </div>
    <div v-else-if="get === 'getlastname/'">
      <input class="form-control" v-model="results" type="text" name="" value="" v-on:change="onChange">
    </div>
    <div v-else-if="get === 'getemail/'">
      <input class="form-control"  v-model="results" type="text" name="" value="" v-on:change="onChange">
    </div>
    <div v-else-if="get === 'getgender/'" v-on:change="onChange">
      <select class="form-control"  v-model="results"  >
        <option disabled value="">Please select</option>
        <option value="male" >Male</option>
        <option value="female" >Fremale</option>
      </select>

    </div>

    <div v-else-if="get === 'getage/'">
      <div class="row">
      <div class="col-3">
      <input class="form-control"  v-model="agelowerresults" type="text"  v-on:change="onChange2">
      </div>
      <div class="col-0">
      <h6>-</h6>
      </div>
      <div class="col-3">
      <input class="form-control"  v-model="ageuperresults"type="text"   v-on:change="onChange2">
    </div>
    </div>
    </div>

    <div v-else>
    </div>
    </div>
    </div>
    </div>


      <v-client-table
          :data="tableData"
          :columns="columns"
          :options="options">
      </v-client-table>
  </div>
</template>

<script>

export default {
    data() {
        return {
            get:"d",
            results:"",
            agelowerresults:"",
            ageuperresults:"",
            api:"ss",
            columns: ['id', 'first_name', 'last_name','email',"gender",'age'],
            tableData: [],
            options: {
                headings: {
                    id: 'ID',
                    first_name: 'first_name',
                    last_name:'last_name',
                    email:'email',
                    gender:"gender",
                    age: 'age'
                }

            }
        }
    },

methods: {
        onChange2: function (){
          if (this.ageuperresults==""){
            this.ageuperresults = this.agelowerresults;
          }
          else if (this.agelowerresults == "") {
            this.agelowerresults = this.ageuperresults    }


              this.axios.get("http://localhost:3333/"+this.get+this.agelowerresults+"/"+this.ageuperresults).then(res => {
              this.api = "http://localhost:3333/"+this.get+this.results
              if (Array.isArray(res.data)){
                this.tableData = res.data
                console.log(this.api);
              }
              else {
                this.tableData = new Array(res.data)
              }
              console.log(res.data.length)
              })
          },
          onChange: function (){


                this.axios.get("http://localhost:3333/"+this.get+this.results).then(res => {
                this.api = "http://localhost:3333/"+this.get+this.results
                if (Array.isArray(res.data)){
                  this.tableData = res.data
                  console.log(this.api);
                }
                else {
                  this.tableData = new Array(res.data)
                }
                console.log(res.data.length)
                })
            },
        }
   }

</script>

<style>
#app {
  width: 95%;
  margin-top: 50px;
}
.div1{
  float:left;
}

.VuePagination {
  text-align: center;
}

.vue-title {
  text-align: center;
  margin-bottom: 10px;
}

.vue-pagination-ad {
  text-align: center;
}

.glyphicon.glyphicon-eye-open {
  width: 16px;
  display: block;
  margin: 0 auto;
}

th:nth-child(3) {
  text-align: center;
}

.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}

.VueTables__child-row-toggler--closed::before {
  content: "+";
}

.VueTables__child-row-toggler--open::before {
  content: "-";
}

</style>
